/* Base Page Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container {
    background-color: #ffffff;
    width: 385px;
    padding-top: 46px ;
    padding-bottom:46px;
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid #f8b3b3;
    border-radius: 8px;
    text-align: center;
}

.photo {
    width: 232px;
    height: 232px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 17px;
}

.name {
    
    margin-bottom: 8px;
    font-weight: bold;
}

.p1 {
    color: #9e8282;
    margin-bottom: 32px;
}

.h2 {
    color: #333333;
    font-weight: bold;
    margin-bottom: 15px;
}

.p2 {
    color: #000000;
    margin-bottom: 25px;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 30px;
}

.skill {
    background-color: #eadede;
    color: black;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

.contact {
    background-color: blue;
    color: #ffffff;
    border: none;
    font-size: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
     padding-right: 24px;
    border-radius: 8px;
    
    font-weight: normal;
}

.contact:hover {
    background-color: #060671;
    cursor: pointer;
}


